<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>
<div class="container-fluid">
  <div class="row">
    <div class="col m-4">
      <div class="card" style="width: 300px">
        <!-- TODO - Add my image -->
        <img
          src="/examples/images/sample.svg"
          class="card-img-top"
          alt="My Image"
        />
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: 'Quicksand', sans-serif">
            Javi Barrientos Peralta
          </h5>
          <p class="card-text">
            Alice is a freelance web designer and developer based in London. She
            is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.
          </p>
          <div class="btnImgs">
            <a href="https://www.linkedin.com/in/javi-barrientos-peralta/">
              <img
                class="btnImgs"
                src="../assets/Imgs/linkedin.png"
                alt="Linkedin url"
              />
            </a>
            <a href="https://github.com/JaviBarrientos17">
              <img
                class="btnImgs"
                src="../assets/Imgs/github.png"
                alt="GitHub url"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="myName" style="font-family:'Quicksand', sans-serif">Javi Barrientos Peralta</div> -->
<router-outlet></router-outlet>
